.card {
	position: relative;
	cursor: pointer;

	img {
		object-fit: cover;
		object-position: center;
	}

	header {
		position: absolute;
		top: 50%;
		left: 50%;
		padding: 16px 40px;
		transform: translate(-50%, -50%);

		&:before {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			max-width: 75%;
			height: 100%;
			max-height: 75%;
			content: '';
			transition: max-height 0.1s ease-out, max-width 0.1s ease-out;
			transform: translate(-50%, -50%);
			border: 2px solid transparent;
		}

		h2 {
			font-size: 64px;
			line-height: 1.4;
			text-align: center;
			white-space: pre;
			letter-spacing: 0.05em;
			text-transform: uppercase;
		}
	}

	&:hover, &[data-active='true'] {
		header:before {
			max-width: 100%;
			max-height: 100%;
			border-color: #FFFFFF;
		}
	}
}
