.footer {
	font-weight: 400;
	position: fixed;
	z-index: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	background-color: #000000;

	.container {
		max-width: 1440px;
		margin: 0 auto;
		padding-top: 50px;
	}

	.emailSection {
		display: flex;
		align-items: flex-end;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0 16px;

		.emailSection__info {
			max-width: 460px;

			p {
				font-size: 1.3em;
				font-weight: 500;
				margin-bottom: 16px;
			}

			small {
				font-size: 1em;
				color: #6D6D6D;
			}
		}

		.emailSection__form {
			display: flex;
			align-items: stretch;
			flex-shrink: 0;
			width: 100%;
			max-width: 500px;
			padding-top: 32px;

			input {
				display: inline-block;
				width: 100%;
				margin-right: 16px;
				padding: 0 8px;
				color: #FFFFFF;
				border-bottom: 2px solid #FFFFFF;
			}

			button {
				font-weight: 450;
				flex-shrink: 0;
				width: 200px;
				padding: 8px 0;
				transition: background-color 0.2s ease-out, color 0.2s ease-out;
				text-align: center;
				color: #000000;
				border: 2px solid #FFFFFF;
				background-color: #FFFFFF;

				@media (max-width: 768px) {
					font-size: 0.8em;
					width: 100px;
					padding: 4px 0;
				}

				&:hover, &:focus {
					color: #FFFFFF;
					background-color: #000000;
				}
			}
		}
	}

	.infoSection {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 70px;
		padding: 16px;
		gap: 32px 8px;

		> div {
			flex-shrink: 0;
		}

		.logo {
			.image {
				position: relative;
				width: 270px;
				height: 40px;
				margin-bottom: 16px;

				img {
					object-position: center;
					object-fit: contain;
				}
			}
		}

		.payments {
			> div {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				width: 190px;

				button {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 90px;
					height: 50px;
					margin-bottom: 10px;
					padding: 10px;
					border-radius: 8px;
					background-color: #272727;
				}
			}
		}

		.footerTitle {
			font-size: 1.2em;
			font-weight: 400;
			margin-bottom: 16px;
		}

		.footerLink {
			font-size: 0.9em;
			font-weight: 400;
			display: flex;
			align-items: center;
			width: fit-content;
			margin-bottom: 16px;
			margin-left: -6px;
			padding: 6px;
			text-transform: none;

			&:before, &:after {
				position: absolute;
				width: 100%;
				max-width: 0;
				height: 100%;
				max-height: 0;
				content: '';
				transition: max-height 0.3s ease-out, max-width 0.3s ease-out;
			}

			&:before {
				top: 0;
				left: 0;
				border-top: 1px solid transparent;
				border-left: 1px solid transparent;
			}

			&:after {
				right: 0;
				bottom: 0;
				border-right: 1px solid transparent;
				border-bottom: 1px solid transparent;
			}

			&:hover, &:focus {
				&:before, &:after {
					max-width: calc(100% - 16px);
					max-height: calc(100% - 16px);
					border-color: #FFFFFF;
				}
			}

			&:active {
				color: #000000;
				background-color: #FFFFFF;

				svg {
					fill: #000000;
				}
			}

			svg {
				display: block;
				margin-right: 4px;
				transition: fill 0.2s ease-out;
				fill: #FFFFFF;
			}
		}

		.row {
			display: flex;
			align-items: center;

			.footerLink {
				margin-right: 16px;

				svg {
					display: block;
					margin-right: 0;
				}
			}
		}
	}

	.authorship {
		height: fit-content;
		margin-top: 5vw;
		background-color: #1E1E1E;

		.container {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			padding: 16px;
		}
	}
}
